extends layout

block content
  .eBook-details-container
    h2= eBook.name + ""
    p
      p Description: #{eBook.description}
    p
      div.eBook-info-row
        p.label Posted by:
        p.value #{posted_by}
    div.eBook-info-row
      p.label Link:
      p.value
        a(href=eBook.link) #{eBook.link}
    div.eBook-info-row
      p.label Level:
      p.value #{eBook.level}
    hr
    if user
      if user._id == eBook.posted_by
        a.btn.btn-default.edit-btn(href="/eBook/edit/" + eBook._id) Edit eBook
        br
        br
        a.btn.btn-default.delete-btn(href="#", data-id=eBook._id) Delete eBook